/* main.css with be used for styling and presentation */

/* selector { property-name : value } */
:root {
    --green: #00FF00;
    --white: #ffffff;
    --grey: #524f4f;
    --red: #dd161677;
    --black: #000000;
    --headerHover: #7c7c7c;
    --btnHover: #ddfab8;
}

/* asterisk is the universal selector */
* {
    color: var(--fontColor);
    font-family: Helvetica;
}
  
body {
    background: var(--bg);
}

/* customizes header */
.header {
    overflow: hidden;
    background-color: var(--headerBg);
    padding: 30px 20px;
}

/* customizes header links */
.header a {
    float: left;
    color: var(--fontColor);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: italic;
    color: var(--fontColor);
}

.header a:hover {
    background-color: var(--headerHover);
    color: var(--fontColor);
}

.header-right {
    float: right;
    color: var(--fontColor);
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

.btn_settings {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:hover {
    background-color: var(--btnHover);
    color: var(--black);
}

.btn_settings:hover {
    background-color: var(--btnHover);
    color: var(--black);
 }

main {
    color: var(--fontColor);
    border: none;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    background-color: var(--bg);
}

.row {
    background-color: var(--red);
    border: 3px solid #5f0202;
    height: 80px;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    color: var(--black);
    background-color: var(--red);
    border: 1px solid #5f0202;
    height: 80px;
    width: 80px;
    font-size: 20px;
}

#tier-name {
    float: left;
    text-align: center;
}

#buttons {
    float: right;
}

.icon-tray {
    background-color: var(--red);
    border: 3px solid #5f0202;
    height: 80px;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}

.upload-form {
    font-size: 18px;
    color: var(--fontColor);
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--grey);
    --btnFontColor: var(--white);
    --headerBg:#d1d1d1;
}

.dark-theme {
    --bg: var(--grey);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --headerBg:#333333;
}