/* main.css with be used for styling and presentation */

/* selector { property-name : value } */
:root {
    --green: #00FF00;
    --white: #ffffff;
    --grey: #524f4f;
    --red: #dd161677;
}

/* asterisk is the universal selector */
* {
    color: var(--fontColor);
    font-family: Helvetica;
}
  
body {
    background: var(--bg);
}

/* customizes header */
.header {
    overflow: hidden;
    background-color: var(--headerBg);
    padding: 30px 20px;
}

/* customizes header links */
.header a {
    float: left;
    color: var(--fontColor);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: italic;
    color: var(--fontColor);
}

.header a:hover {
    background-color: #ddd;
    color: var(--fontColor);
}

.header-right {
    float: right;
    color: var(--fontColor);
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

main {
    color: --fontColor;
    border: none;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--grey);
    --btnFontColor: var(--white);
    --headerBg:#d1d1d1;
}

.dark-theme {
    --bg: var(--grey);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--grey);
    --headerBg:#333333;
}